$baseline-px:37.5px;

@function px2rem ($px-values) {
    $baseline-rem: $baseline-px / 1rem * 1;
    $px-values: $px-values / $baseline-rem;
    @return $px-values;
}
.login{
    width: 100%;
    height:100%;
    background: #fff;
    .title{
        width: 100%;
        height:px2rem(40px);
        padding:0 px2rem(10px);
        background: rgb(49, 47, 47);
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: px2rem(14px);
        color:#fff;
    }
    .info{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding:px2rem(15px) px2rem(10px);
        input{
            width: 100%;
            border:0;
            border-bottom: 1px solid #eee;
            outline: none;
            height:px2rem(30px);
            padding:0 px2rem(30px);
            font-size: px2rem(18px);
        }
    }
    button{
        width: 80%;
        margin: 0 auto;
        height:px2rem(40px);
        background: rgb(49, 47, 47);
        border:0;
        border-radius: px2rem(20px);
        color:#fff;
        font-size: px2rem(18px);
    }
}