$baseline-px:37.5px;

@function px2rem ($px-values) {
    $baseline-rem: $baseline-px / 1rem * 1;
    $px-values: $px-values / $baseline-rem;
    @return $px-values;
}

$color:rgb(51, 45, 45);
.detail{
    width: 100%;
    height:100%;
    overflow: hidden;
    position: relative;
}
.head{
    width: 100%;
    height:100%;
    overflow: hidden;
    .blur{
        width: 100%;
        height:100%;
        // background: rgba(17, 17, 17, 0.726);
        filter:blur(10px) brightness(70%);
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

.realtitle{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    padding-bottom: px2rem(60px);
    display: flex;
    flex-direction: column;
}
.header{
    width: 100%;
    padding:px2rem(15px);
    display: flex;
    justify-content: space-between;
    color:#fff;
    flex-shrink: 0;
    div{
        flex-basis:px2rem(50px);
        display: flex;
        justify-content: space-between;
        i{
            font-size: px2rem(20px);
        }
    }
    span{
        font-size: px2rem(18px);
    }
}
.img{
    width: 100%;
    padding:0 px2rem(15px);
    display: flex;
    align-items: center;
    flex-shrink: 0;
    .imgurl{
        width: px2rem(170px);
        img{
            width: 100%;
            height:auto;
        }
    }
    .list{
        width: 100%;
        height:px2rem(150px);
        color:#fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: px2rem(15px);
        h3{
            color:#fff;
            line-height: px2rem(50px);
        }
        div{
            height:px2rem(30px);
            display: flex;
            img{
                width: px2rem(30px);
                height:auto;
                border-radius: 50%;
                margin-right: px2rem(10px);
            }
        }
    }
}
.songlist{
    width: 100%;
    flex:1;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    .songlist_title{
        width: 100%;
        display: flex;
        height:px2rem(40px);
        align-items: center;
        justify-content: space-between;
        padding-left:px2rem(15px);
        flex-shrink: 0;
        div{
            padding:0 px2rem(10px);
            height:100%;
            line-height: px2rem(40px);
            background: $color;
            color:#fff;
            padding:0 px2rem(15px);
            border-top-right-radius: 15px;
            
        }
        p{
            line-height: px2rem(40px);
            font-size: px2rem(14px);
            display: flex;
            align-items: center;
            i{
                font-size: px2rem(22px);
                padding-right:px2rem(5px);
            }
        }
    }
    ul{
        padding-left: px2rem(50px);
        flex:1;
        overflow: auto;
        li{
            border-top: 1px solid #eee;
            height:px2rem(50px);
            padding-right: px2rem(15px);
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            div{
                h5{
                    font-size: px2rem(14px);
                }
                p{
                    color:rgb(179, 179, 179);
                }
            }
            span{
                position: absolute;
                top:0;
                left:px2rem(-50px);
                width: px2rem(50px);
                height:px2rem(50px);
                text-align: center;
                line-height: px2rem(50px);
                font-size: px2rem(16px);
                color:rgb(179, 179, 179);
            }
        }
    }
}