$baseline-px:37.5px;

@function px2rem ($px-values) {
    $baseline-rem: $baseline-px / 1rem * 1;
    $px-values: $px-values / $baseline-rem;
    @return $px-values;
}
.bgImg{
    width: 100%;
    height:100%;
    background: url('../../assets/bj.jpg') 0 0 no-repeat; 
    background-size: cover;
    position: relative;
    .btn{
        width: px2rem(300px);
        height:px2rem(100px);
        position: relative;
        top:0;
        left:0;
        right:0;
        bottom:0;
        margin: auto;
        display: flex;
        flex-direction: column;
        padding:0 px2rem(15px);
        justify-content: space-between;
        a{
            width: 100%;
            height:px2rem(40px);
            border:1px solid rgb(224, 62, 21);
            border-radius: px2rem(22px);
            text-align: center;
            line-height: px2rem(40px);
            font-size: px2rem(16px);
            color: rgb(224, 62, 21);
        }
    }
}